.profile-picture{
    border-radius: 100% ;
}

.hero-intro{
    background-color: #F5E5E1;
}
.background-color{
    background-color: #427A76;
}

.white-text{
    color: white;
    font-size: 2rem;
}

.lead {
    font-size: 2rem;
    font-weight: 300;
}
