ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* 1. Element selector */
p{
  color:red;
}

/* 2. Class selector */
.note{
  font-size: 20px
}

/* 3. ID selector*/
#id-selector-demo{
  color: green
}

/* 4. Attribute selector*/
li[value="4"]{
  color: blue
}

/* 5. Universal selector*/
*{
  text-align: center
}

